<section class="block container">
    <div class="block__header">
      <h2 class="block__heading">heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit optio
        explicabo dolore sed enim iure itaque ad ea ratione, animi ullam,
        iste, labore eligendi vel deleniti quod tempora. Odio, dicta.
      </p>
    </div>
    <div style="width: 300px; padding: 30px">
      <div class="card card--secondary">
        <header class="card__header">card title</header>
        <div class="card__body">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
        </div>
      </div>
    </div>
  </section>
  <section class="block block--dark block--skewed-left">
    <div class="container">
      <h2 class="block__heading">heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit optio
        explicabo dolore sed enim iure itaque ad ea ratione, animi ullam, iste,
        labore eligendi vel deleniti quod tempora. Odio, dicta.
      </p>
    </div>
  </section>