
  <section class="block container">
    <header class="block__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti odio
      </p>
    </header>
    <article class="grid feature grid--1x2">
      <div>
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          minima iure praesentium nostrum sunt consequatur, repellendus
          distinctio ipsa possimus culpa maxime tempora earum blanditiis
          veritatis architecto accusamus hic. Delectus, neque.
        </p>
        <a class="link_arrow" href="#"></a>
        <p class="learn-more">LEARN MORE --></p>
      </div>
      <div>
        <img class="feature__image" src="images/easy.jpg" alt="" />
      </div>
    </article>
  </section>
  <section class="block container">
    <article class="grid feature grid--1x2">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#settings"></use>
          </svg>
        </span>
        <h3 class="feature__heading">WorldPress made easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          minima iure praesentium nostrum sunt consequatur, repellendus
          distinctio ipsa possimus culpa maxime tempora earum blanditiis
          veritatis architecto accusamus hic. Delectus, neque.
        </p>
        <a class="link_arrow" href="#"></a>
        <p class="learn-more">LEARN MORE --></p>
      </div>
      <div>
        <img class="feature__image" src="images/wordpress.jpg" alt="" />
      </div>
    </article>
  </section>
