<section class=" footer-block block block--dark  ">
    
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">PRODUCTS</h3>
  
        
          <img
          class="icon collapsible__chevron"
            src="images/chevron.svg"
            alt=""
          />
          
        
      </header>
      <div class="collapsible__content">
        <ul class="list list--inline">
          
          <li> <a href="#">WordPress Hosting</a> </li>
          <li> <a href="#">Free Automated WordPress</a> </li>
          <li> <a href="#">Migrations</a> </li>
          <li> <a href="#">Domain Names</a> </li>
          <li> <a href="#">Monthly Web Hosting</a> </li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">COMPANY</h3>
  
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list list--inline">
          
          <li><a href="#"> Aboutg</li></a>
          <li><a href="#"> Affiliatess</li></a>
          <li><a href="#"> Blog</li></a>
          <li><a href="#"> Careers</li></a>
          <li><a href="#"> Community</li></a>
          <li><a href="#"> News</li></a>
          <li><a href="#"> Green Hosting</li></a>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">SUPPORT</h3>
  
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list list--inline">
          
          <li><a href="#"> Contact</li></a>
          <li><a href="#"> Knowledge Base</li></a>
          <li><a href="#"> Forums</li></a>
          <li><a href="#"> System Status</li></a>
          <li><a href="#"> Web Hosting</li></a>
          <li><a href="#"> DreamCompute</li></a>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">DOMAINS</h3>
  
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list list--inline">
          
          <li><a href="#"> Domain Checke</li></a>
          <li><a href="#"> Domain Transfers</li></a>
          <li><a href="#"> Free Domain</li></a>
          <li><a href="#"> XYZ Domain</li></a>
          <li><a href="#"> Cheap SSL Certificate</li></a>
        </ul>
      </div>
    </div>
    <section class="footer__brand">

      <img  src="images/logo.png" alt="">
      <p class="footer__copyright">copyright 2020 haider salah</p>
    </section>
  
  </section>