
 <div class="media">
    <div class="media__image">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        sequi recusandae voluptas praesentium corrupti possimus architecto
        totam provident dolore, ad sapiente quas nam accusantium impedit? Et
        at ipsa eveniet necessitatibus?
      </p>
    </div>
  </div>