<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum delectus
    excepturi earum recusandae quo dicta perferendis voluptatum? Provident ab
    hic ut pariatur delectus harum commodi illo molestiae? Aperiam, debitis
    illum!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Johan Smith</h3>
        <p class="quot__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
